---
layout: default
body_class: page-blog-post
---

<article class="blog-post">
  <header class="blog-post-header">
    <time class="blog-post-date" datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%B %-d, %Y" }}
    </time>
    <h1>{{ page.title }}</h1>
    {% if page.description %}
    <p class="blog-post-subtitle">{{ page.description }}</p>
    {% endif %}
  </header>
  <div class="blog-post-body">
    {{ content }}
  </div>
  <footer class="blog-post-footer">
    <a href="{{ '/blog/' | relative_url }}" class="btn btn-secondary">&larr; All posts</a>
  </footer>
</article>
